{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center align-itens-cener min-vh-content">
            <div class="col-md-8">
                <div class="card p-4 shadow-lg">
                    <h2 class="card-title text-center mb-4">Edição de texto extraído</h2>
                    <form action="/exportarTexto" method="POST">
                        <div class="mb-3">
                            <label for="texto" class="form-label">Texto extraído:</label>
                            <textarea class="form-control" name="texto" rows="10" required>
                                {{ texto or '' }}
                            </textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="/" class="btn btn-primary">Voltar</a>
                            <button type="submit" formaction="/traducao" formmethod="POST" class="btn btn-info ms-3">Traduzir texto</button>
                            <button type="submit" class="btn btn-success ms-3">Exportar texto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}