{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-content">
            <div class="col-md-6">
                <div class="card p-4 shadows-lg">
                    <img src="{{ url_for('static', filename='img/logomarca.jpg')}}" alt="Logo OCR" class="img-fluid mx-auto d-block mb-4" width="200">
                    <h3 class="card-title text-center mb-4">Extraia o texto de uma imagem aqui</h3>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <Label for="imagem" class="form-label">Selecione uma imagem:</Label>
                            <input type="file" class="form-control" name="imagem" accept="img/*" value="" required>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Extrair texto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}